<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>AttendenceSecuritySystem</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
 <table width="100%" border="1">
  <tr>
   <td>User Name</td>
   <td>Name</td>
   <td>Profile </td>
   <td colspan="2">Action</td>
  </tr> 
  
  <tr th:each="employeeList: ${employeeList}">
    <td th:text="${{employeeList.userName}}" /></td>
     <td th:text="${{employeeList.name}}" /></td>
       <td th:text="${{employeeList.profileID}}" /></td>
       <td >
     <a th:href="@{'/update/'+${employeeList.id}}">Update</a>&nbsp;&nbsp; <a th:href="@{'/delete/'+${employeeList.id}}">Delete</a>
    </td>
    
</tr> 
  
  
  
    
   
    
   
 </table>
</body>
</body>
</html>